.friends {
  grid-area: n;
  margin-top: 150px;
  background-color: green;
  color: white;
}

.friendsTitle {
  text-align: center;
  padding-top: 10px;
}

.friendsItems {
  padding-top: 15px;
  display: flex;
  justify-content: space-around;
}

.friendsItem {
  font-size: 12px;
}


.friendsItem>img {
  width: 35px;
}
