/* .selectedPage {
    font-weight: bold;
}

.pages {
    width: 500px;
    margin-left: auto;
} */

.paginator {
    margin: 10px;
}

.pageNumber {
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}